.jumbotron {
  background-image: url("../images/Neil-Armstrong-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  min-height: 600px;
  padding-top: 0px;
}
#heading-quote {padding-top: 100px;
  padding-left: 300px;
color: white;}

.first-picture {
  padding-top: 100px;
  align: center;
}
 h2 {
   font-size: 20px;
  background-color:	 ;
  background-color:#DCDCDC;}
